body {
    font-size: 18px;
    margin: 0;
}

.wrong {
    animation: flashred 300ms ease-in forwards;
}

#helper {
    text-align: center;
    font-size: 30px;
    color: red;
}

#history {
    text-align: center;
    list-style: none;
    padding: 0;
}

#line {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100vw;
    height: 50px;
    gap: 5px;
}

#line > * {
    flex-basis: auto;
}

#line > button {
    flex-grow: 1;
    min-width: 25px;
    max-width: 50px;
}

#counter {
    text-align: center;
}

#spelling {
    flex-grow: 3;
    min-width: 100px;
    max-width: 300px;
    font-size: 40px;
    border: solid black 3px;
}

@keyframes flashred {
    0% {
        border-color: black;
    }
    100% {
        border-color: red;
    }
}