body {
    font-size: 18px;
}

.wrong {
    animation: flashred 300ms ease-in forwards;
}

#helper {
    text-align: center;
    font-size: 30px;
    color: red;
}

#history {
    text-align: center;
    list-style: none;
    padding: 0;
}

#line {
    display: flex;
    align-items: center;
    justify-content: center;
}

#counter {
    text-align: center;
}

button {
    height: 50px;
    margin: 0 10px;
}

#spelling {
    height: 50px;
    width: 400px;
    font-size: 40px;
    border: solid black 3px;
}

@keyframes flashred {
    0% {
        border-color: black;
    }
    100% {
        border-color: red;
    }
}